################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/UmbracoContainer
/output
/UmbracoContainer/uSync/v9
/UmbracoContainer/Views
/UmbracoContainer/umbraco/Data
